In [1]:
#1.SEABORN 
#DATASET- STUDENT
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib qt
import seaborn as sns

In [2]:
#2. Read the "data_student.csv" file using read_csv()
#(Hint: indicate ';' as the seperator and indicate not to read in index column) and check its head:
students = pd.read_csv('data_student.csv',sep=';',index_col = 0)

students.head()

,school,sex,age,famsize,Pstatus,Medu,Mjob,reason,traveltime,studytime,freetime,health,absences,G2,G3
0,GP,F,18,GT3,A,4,at_home,course,2,2,3,3,6,6,6
1,GP,F,17,GT3,T,1,at_home,course,1,2,3,3,4,5,6
2,GP,F,15,LE3,T,1,at_home,other,1,2,3,3,10,8,10
3,GP,F,15,GT3,T,4,health,home,1,3,2,5,2,14,15
4,GP,F,16,GT3,T,3,other,home,1,2,3,5,4,10,10

In [3]:
#3.GET INFORMATION ABOUT DATAFRAME
students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 395 entries, 0 to 394
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   famsize     395 non-null    object
 4   Pstatus     395 non-null    object
 5   Medu        395 non-null    int64
 6   Mjob        395 non-null    object
 7   reason      395 non-null    object
 8   traveltime  395 non-null    int64
 9   studytime   395 non-null    int64
 10  freetime    395 non-null    int64
 11  health      395 non-null    int64
 12  absences    395 non-null    int64
 13  G2          395 non-null    int64
 14  G3          395 non-null    int64
dtypes: int64(9), object(6)
memory usage: 49.4+ KB

4.Plot the number of students for each school and categorize it by sex:
Hint: countplot

In [4]:
sns.countplot(x='school',data=students,hue='sex')

5.Plot age distribution of the students (include kde):

In [44]:
sns.distplot(students['age'],kde=True,bins=10)

C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\3784424948.py:1: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students['age'],kde=True,bins=10)

6. Plot average of students for each school:

In [9]:
sns.barplot(x='school',y='age',data=students)

7. Plot the quartiles of final grade (G3) of the students catogorized by mother's education (Medu):
Hint: boxplot
Info:

0 - None

1 - primary education (4th grade),

2 – 5th to 9th grade,

3 – secondary education

4 – higher education

In [11]:
sns.boxplot(x='Medu',y='G3',data=students)

#8. Plot probability density with regards to final grade (G3) and mother's job (Mjob)
and consider sex by selecting split = True:
Hint: violinplot

In [45]:
sns.violinplot(x='Mjob',y='G3',data=students,hue='sex',split=True)

9. Plot density distribution of the grades (both G2,G3 on the same canvas) with regards 
to health but this time we want to see every data as a point in our plot:
Hint: swarm plot, subplot
Info: health status (numeric: from 1 - very bad to 5 - very good)

In [46]:
fig, axes = plt.subplots(1,2,figsize=(13,5))

sns.swarmplot(x='health',y='G2',data=students,ax=axes[0])
sns.swarmplot(x='health',y='G3',data=students,ax=axes[1])

C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 19.9% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 19.9% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 7.7% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 17.8% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)

10.Do the same for the absences and travel time (single plot is enough):

In [24]:
sns.swarmplot(x='traveltime',y='absences',data=students)

C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 44.7% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 19.6% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)

C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 51.4% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\categorical.py:3399: UserWarning: 27.1% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)

11. Plot the final grade (G3) with respect to parental status(Pstatus) and family size (famsize)
 using FacetGrid and distplot (set kde=False):
Info:

LE3 - less than and equal to 3

GT3 - greater than 3

A - Apart

T - Together

In [28]:
bill=sns.FacetGrid(students,row='Pstatus',col='famsize')
bill.map(sns.distplot,'G3',kde=True)

C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)

12. Plot a categorical relationship between study time (studytime) and mean of final grade (G3) and categorize by parental status:
Hint: barplot

In [31]:
sns.barplot(x='studytime',y='G3',data=students,hue='Pstatus')

13.Plot the relationship between max. midterm grade (G2) and reason for choosing the school (reason) 
and categorize it by sex:
Hint: We need bar plot but let us use catplot to reach the same plot

In [47]:
sns.catplot(x='reason',y='G2',data=students,kind='bar',estimator=np.max,hue='sex')

14. Plot the distribution of the final grade (G3) of the students using kde.
Plot for both gender type on the same plot:
Hint: distplot using logical masking could come in handy.
students[students['sex']=='M']['G3']
students[students['sex']=='F']['G3']

In [50]:
sns.distplot(students[students['sex']=='M']['G3'],label='Male',hist=False)
sns.distplot(students[students['sex']=='F']['G3'],label='Female',hist=False)

C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1576439393.py:1: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['sex']=='M']['G3'],label='Male',hist=False)
C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1576439393.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['sex']=='F']['G3'],label='Female',hist=False)

15. This time plot the distribution of midterm grade (G2) using kde together for each freetime amount:
Hint: Previously we had 2 plots together. This time we have 5, so let's use for loop instead

In [51]:
for time in students['freetime'].unique():
    sns.distplot(students[students['freetime']==time]['G3'],label=time,hist=False)

C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1226642807.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['freetime']==time]['G3'],label=time,hist=False)
C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1226642807.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['freetime']==time]['G3'],label=time,hist=False)
C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1226642807.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['freetime']==time]['G3'],label=time,hist=False)
C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1226642807.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['freetime']==time]['G3'],label=time,hist=False)
C:\Users\SASI REKHA\AppData\Local\Temp\ipykernel_3844\1226642807.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `kdeplot` (an axes-level function for kernel density plots).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(students[students['freetime']==time]['G3'],label=time,hist=False)

16. Create a jointplot for relationship between midterm (G2) and final grades (G3) with kde:

In [41]:
students

,school,sex,age,famsize,Pstatus,Medu,Mjob,reason,traveltime,studytime,freetime,health,absences,G2,G3
0,GP,F,18,GT3,A,4,at_home,course,2,2,3,3,6,6,6
1,GP,F,17,GT3,T,1,at_home,course,1,2,3,3,4,5,6
2,GP,F,15,LE3,T,1,at_home,other,1,2,3,3,10,8,10
3,GP,F,15,GT3,T,4,health,home,1,3,2,5,2,14,15
4,GP,F,16,GT3,T,3,other,home,1,2,3,5,4,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,LE3,A,2,services,course,1,2,5,4,11,9,9
391,MS,M,17,LE3,T,3,services,course,2,1,4,2,3,16,16
392,MS,M,21,GT3,T,1,other,course,1,1,5,3,3,8,7
393,MS,M,18,LE3,T,3,services,course,3,1,4,5,0,12,10
394,MS,M,19,LE3,T,1,other,course,1,1,2,5,5,9,9

In [52]:
sns.jointplot(x='G2',y='G3',data=students,kind='kde')

17. Let's do the same for absences and midterm grade (G2) but this time with hex:

In [54]:
sns.jointplot(x='absences',y='G2',data=students,kind='hex')

In [ ]:
18. Plot the relationship between midterm (G2), final (G3) grade and absences:
Hint: we have more than 2 columns to pair.

In [55]:
sns.pairplot(students[['G2','G3','absences']])