In [2]:
#SEABORN 
#DATASET- RESTAURENT
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib qt
import seaborn as sns

In [3]:
tip=sns.load_dataset('tips')
tip

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
sns.barplot(x='day',y='total_bill',data=tip,estimator=np.max)

BAR PLOT- gives us numerical information for a categorical data type
estimator--> What kind of a numerical property of the category to display.
By default it's set to mean but agg functions such as np.std,np.max, np.min can also be used

In [19]:
sns.barplot(x='total_bill',y='day',data=tip)

In [7]:
sns.barplot(x='total_bill',y='day',data=tip,estimator=np.max)

#COUNT PLOT- Similarly to bar plot but instead aggregation information about data, it displays directly count on that category in the data

In [15]:
sns.countplot(x='smoker',data=tip,hue='sex')

#BOX PLOT- it is used to show the quantitative distribution of a category. The box represents the quartiles of the category,
whereas the whiskers represent the distribution of the rest of the data. 
The points are called the outliners which represent extreme points(meaning points very distant from rest of the data).

In [21]:
sns.boxplot(x='day',y='total_bill',data=tip)

In [24]:
sns.boxplot(x='total_bill',y='time',data=tip,hue='sex')

VIOLIN PLOT- It serves a similar purpose to box plot but uses kde(kernel density estimate) to represent the distribution of the data

In [26]:
sns.violinplot(x='day',y='tip',data=tip)

In [27]:
sns.violinplot(x='day',y='tip',data=tip,hue='sex')

In [29]:
sns.violinplot(x='day',y='tip',data=tip,hue='sex',split=True)

# STRIP VERSES SWARM PLOT
Strip plot comes in handy(compared to box and violin plot) when we want to see both the distribution of the data 
and every point in the data . Every data in the dataset represented with a point forming a strip.

In [34]:
sns.stripplot(x='time',y='total_bill',data=tip)

In [35]:
sns.stripplot(x='time',y='total_bill',data=tip,jitter=True,hue='smoker')

 SWARM PLOT similar to strip plot however it tends to widen along the category axis where the data accumulates 
so that points do not overlap. it becomes widest where the data is densely located. It is more useful to see the 
distribution in dense areas.

In [36]:
sns.swarmplot(x='time',y='total_bill',data=tip)

In [38]:
sns.swarmplot(x='time',y='total_bill',data=tip,color='black')
sns.violinplot(x='time',y='total_bill',data=tip)

CATPLOT- It is a general plot type for categorical data.
It is necessary to provide the 'kind' to control the type of the categorical plot we get.

In [39]:
sns.catplot(x='day',y='total_bill',data=tip,kind='bar',hue='smoker')

In [40]:
sns.catplot(x='day',y='total_bill',data=tip,kind='bar',col='smoker')

MATRIX PLOT- It display the data in the format of a colored matrix.

In [4]:
# TO CHECK THE AVAILABLE DATASETS IN SEABORN
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [42]:
import seaborn as sns
flight_data=sns.load_dataset('flights')
flight_data

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [43]:
iris_data=sns.load_dataset('iris')
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [44]:
flight_data=flight_data.pivot(index='month',columns='year',values='passengers')
flight_data

year   1949  1950  1951  1952  1953  1954  1955  1956  1957  1958  1959  1960
month
Jan     112   115   145   171   196   204   242   284   315   340   360   417
Feb     118   126   150   180   196   188   233   277   301   318   342   391
Mar     132   141   178   193   236   235   267   317   356   362   406   419
Apr     129   135   163   181   235   227   269   313   348   348   396   461
May     121   125   172   183   229   234   270   318   355   363   420   472
Jun     135   149   178   218   243   264   315   374   422   435   472   535
Jul     148   170   199   230   264   302   364   413   465   491   548   622
Aug     148   170   199   242   272   293   347   405   467   505   559   606
Sep     136   158   184   209   237   259   312   355   404   404   463   508
Oct     119   133   162   191   211   229   274   306   347   359   407   461
Nov     104   114   146   172   180   203   237   271   305   310   362   390
Dec     118   140   166   194   201   229   278   306   336   337   405   432

HEAT MAP - It creates a colored matrix of a data which is already in matrix format.

In [45]:
sns.heatmap(data=flight_data)

In [46]:
fig,ax=plt.subplots(figsize=(10,8))
sns.heatmap(data=flight_data.loc[:,'1957':],annot=True,linecolor='white',linewidths=2)

CLUSTER MAP
  It creates a hierchical relationship to the heatmap plot

In [47]:
sns.clustermap(data=flight_data)

GRID PLOT - allows us to plot multiple plots in columns and rows

PAIRGRID
    It provides the possibility to plot together multiple plots.
    A more flexible version of pair plot.

In [48]:
iris=sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [49]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [50]:
sns.pairplot(iris)

In [52]:
iris_grid=sns.PairGrid(iris)
iris_grid.map_diag(sns.distplot)
iris_grid.map_lower(plt.scatter)
iris_grid.map_upper(sns.kdeplot)

C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:1550: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(x=data_k, label=label_k, color=color, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:1550: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(x=data_k, label=label_k, color=color, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:1550: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(x=data_k, label=label_k, color=color, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:1550: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(x=data_k, label=label_k, color=color, **plot_kwargs)

FACETGRID
   The most important difference of FacetGrid compared to pairplot and pairgrid is that we can select the column to visualize

In [6]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
bill_facet=sns.FacetGrid(tip,row='smoker',col='time')
bill_facet.map(sns.distplot,'tip',kde=True)

C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)
C:\Users\SASI REKHA\anaconda3\Lib\site-packages\seaborn\axisgrid.py:854: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  func(*plot_args, **plot_kwargs)

In [8]:
bill_facet2=sns.FacetGrid(tip,row='smoker',col='sex')
bill_facet2.map(plt.scatter,'tip','total_bill')

In [9]:
bill_facet2=sns.FacetGrid(tip,row='smoker',col='sex')
bill_facet2.map(plt.hist,'tip')

LMPLOT :
   Combination of linear regression and FacetGrid plots.

In [15]:
sns.lmplot(x='total_bill',y='tip',data=tip)

In [16]:
sns.lmplot(x='total_bill',y='tip',data=tip,hue='sex',
           markers=['o','v'],scatter_kws={'s':150})

In [17]:
sns.lmplot(x='total_bill',y='tip',data=tip,row='smoker',col='sex')

In [18]:
sns.lmplot(x='total_bill',y='tip',data=tip,col='day',hue='sex',
          aspect=0.6,height=8)

EDITING PLOT PROPERTIES

In [19]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

AXIS LABELS

In [21]:
f=sns.barplot(x='day',y='total_bill',data=tip)

f.set_xlabel('DAYS')
f.set_ylabel('TOTAL AMOUNT')
f.set_title('Total amount with respect to days')

Text(0.5, 1.0, 'Total amount with respect to days')

In [1]:
f=sns.barplot(x='day',y='total_bill',data=tip)

f.set(xlabel='DAYS',
      ylabel='TOTAL AMOUNT',
      title='Total amount with respect to days')

NameError: name 'sns' is not defined

In [6]:
sns.set_style('ticks')
sns.set_context('notebook',font_scale=1.5)

f=sns.barplot(x='day',y='total_bill',data=tip)

f.set(xlabel='DAYS',
      ylabel='TOTAL AMOUNT',
      title='Total amount with respect to days')

sns.despine(left=True,right=True,bottom=True,top=True)

PLOT SIZE

In [25]:
plt.figure(figsize=(10,3))

sns.set_style('ticks')
sns.set_context('notebook',font_scale=1.5)

f=sns.barplot(x='day',y='total_bill',data=tip)

f.set(xlabel='DAYS',
      ylabel='TOTAL AMOUNT',
      title='Total amount with respect to days')

sns.despine(left=True,right=True,bottom=True,top=True)

In [26]:
plt.figure(figsize=(10,3))

sns.set_style('ticks')
sns.set_context('notebook',font_scale=1.5)

f=sns.barplot(x='day',y='total_bill',data=tip)

f.set(xlabel='DAYS',
      ylabel='TOTAL AMOUNT',
      title='Total amount with respect to days')

f.set_ylim(0,30)

sns.despine(left=True,right=True,bottom=True,top=True)

In [29]:
c=sns.pairplot(tip,diag_kind='kde',kind='reg',hue='sex')
c.savefig('pair_plot_bill.png',dpi=60,transparent=True)